client/Connected Services/SVC/game.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/game" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/game" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Game">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientList" nillable="true" type="tns:ArrayOfClient" />
      <xs:element minOccurs="0" name="Started" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Game" nillable="true" type="tns:Game" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
</xs:schema>